<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Sign Up</title>
</head>
<body>
    <form method = 'post' th:action="@{/user}">
        <label>
            Username:
            <input type = 'text' th:field="${user.username}" class="form-group"/>
        </label>
        <p class="error" th:errors="${user.username}"></p>
        <br/>

        <label>
            Email:
            <input type = 'text' th:field="${user.email}" class="form-group"/>
        </label>
        <p class="error" th:errors="${user.email}"></p>
        <br/>

        <label>
            Password:
            <input type = 'password' name = 'password' class="form-group"/>
        </label>
        <p class="error" th:errors="${user.password}"></p>
        <br/>

        <label>
            Verify Password:
            <input type = 'password' name = 'verify' class="form-group"/>
        </label>
        <p th:text="${error}"></p>

        <input type = 'submit' value = 'Sign Up' class="form-group"/>
    </form>

</body>
</html>