<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>User</title>
</head>
<body>

<p th:text="'Welcome ' + ${user.username} + '!'"></p>
<a th:href="@{/}">Click here to select spa services</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
        </tr>
    </thead>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td><a th:href="@{/user/details{id}(id=${user.id})}">Details</a></td>
    </tr>
</table>

</body>
</html>